.segunda-parte-main-inicio .card-inicio {
  border-color: #C7C7C7;
  border-radius: 5px;
}

.extra-para-blog, .cuarta-parte-del-main {
  background-color: white;
  margin: 0;
  padding: 2rem 1rem;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.video-contacto, .video-fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  margin: 0;
  width: 100vw;
}

.botones-alineados, .bot-ant, .bot-ext {
  display: flex;
  flex-direction: row;
}

header {
  background-color: #364037;
  margin: 0;
  padding: 2rem 1rem;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
header img {
  margin: 1rem;
  max-width: 50px;
}
header h1 {
  margin-top: 1rem;
  text-align: start;
  color: #F4DEC9;
  margin-right: 1rem;
}
header div ul {
  margin-top: 1.5rem;
}
header div ul li {
  align-items: end;
}
header div .a-de-header {
  text-decoration: none;
  color: white;
}
header div .a-de-header:hover {
  color: #F4DEC9;
}
header .baar {
  flex-grow: 0;
  justify-content: space-between;
}
@media (max-width: 425px) {
  header img {
    max-width: 40px;
  }
}

.boton-inicio a {
  margin: 1rem;
  align-items: center;
  text-decoration: none;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  font-family: "Poppins";
  background-color: none;
}

.boton-inicio:hover a {
  border-color: #986C43;
  color: #986C43;
}

.primera-parte-main-inicio {
  display: flex;
  justify-content: center;
  height: 100vh;
  text-align: center;
  align-items: center;
}
.primera-parte-main-inicio div h1 {
  color: #F4DEC9;
  font-size: 110px;
}
.primera-parte-main-inicio div h2 {
  color: #F4DEC9;
  font-size: 60px;
}
@media (max-width: 768px) {
  .primera-parte-main-inicio div h1 {
    text-align: center;
    font-size: 5rem;
  }
  .primera-parte-main-inicio div h2 {
    font-size: 4rem;
  }
}

.segunda-parte-main-inicio h2 {
  color: #F4DEC9;
  text-align: center;
  font-size: 50px;
}
.segunda-parte-main-inicio .card-inicio {
  width: 100%;
}
.segunda-parte-main-inicio .card-inicio img {
  height: 200px;
  object-fit: cover;
  width: 100%;
}
.segunda-parte-main-inicio .card-inicio a {
  text-decoration: none;
}
.segunda-parte-main-inicio .card-inicio a h3 {
  padding: 1px;
  margin-inline-end: 1rem;
  text-align: center;
  color: black;
}

.tercer-parte-del-main {
  background-color: #986C43;
  margin: 0;
  padding: 2rem 1rem;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.tercer-parte-del-main h3 {
  text-align: center;
  color: #F4DEC9;
  font-size: 100px;
}
.tercer-parte-del-main h4 {
  text-align: center;
  color: #F4DEC9;
}

.cuarta-parte-del-main h3 {
  text-align: center;
}
.cuarta-parte-del-main .fotos {
  height: 200px;
  object-fit: cover;
  width: 100%;
  border-radius: 0;
}
@media (max-width: 430px) {
  .cuarta-parte-del-main .fotos {
    padding-top: 1rem;
  }
}

.h4-de-index {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

.subtitulo-nos {
  padding-top: 2rem;
  text-align: center;
}

.card-nos {
  background-color: #986C43;
  border: black 1px solid;
  border-radius: 0px;
  margin: 1rem;
}
.card-nos .columnas {
  padding: 0;
}
.card-nos img {
  max-height: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}
.card-nos h3 {
  padding: 1rem;
  text-align: center;
  color: white;
}
.card-nos p {
  padding: 1rem;
  text-align: justify;
}

.texto-primera-parte-contacto {
  background-color: rgba(255, 255, 255, 0.614);
}
.texto-primera-parte-contacto .titulo {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  margin: 20px 0px;
}
.texto-primera-parte-contacto .subtitulo {
  text-align: justify;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}

.texto-segunda-parte-contacto {
  background-color: rgba(255, 255, 255, 0.614);
  margin: 0;
  padding: 2rem 1rem;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  justify-content: center;
}
.texto-segunda-parte-contacto p {
  padding-top: 5px;
  font-size: 24px;
  margin-right: 20px;
}
.texto-segunda-parte-contacto img {
  vertical-align: middle;
  max-width: 24px;
  margin-left: 5px;
  max-height: 50%;
  max-width: 50%;
}

.primera-parte-blog {
  display: flex;
  justify-content: center;
  height: 100vh;
  text-align: center;
  align-items: center;
}
.primera-parte-blog h1 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 90px;
}
.primera-parte-blog h2 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 70px;
}
@media (max-width: 768px) {
  .primera-parte-blog h1 {
    font-size: 4rem;
  }
  .primera-parte-blog h2 {
    font-size: 3rem;
  }
}

.imagen-blog {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.imagen-blog img {
  max-height: 100%;
  max-width: 100%;
  padding: 0;
  margin: 5px 0;
}
@media (max-width: 430px) {
  .imagen-blog img {
    max-width: 65vh;
  }
}

.texto-blog {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.texto-h1-blog {
  margin: 5px;
  padding: 5px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.bot-ext {
  justify-content: end;
}

.bot-ant {
  justify-content: flex-start;
}

.botones-alineados {
  justify-content: space-between;
}

footer {
  background-color: #364037;
  margin: 0;
  padding: 2rem 1rem;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
footer .iconos img {
  max-width: 50px;
  padding: 2px;
  margin: 1rem;
}
footer nav ul {
  list-style: none;
}
footer nav ul li a {
  text-align: center;
  text-decoration: none;
  color: white;
}
footer nav ul li a:hover {
  color: #F4DEC9;
}
footer .frase-footer {
  color: #F4DEC9;
  margin-top: 20px;
  text-align: center;
}

html, body {
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

/*# sourceMappingURL=styles.css.map */
