@import"./utilities/variables.scss";
@import "./utilities/extends.scss";
@import "./layouts/header.scss";
@import "./layouts/main.scss";
@import "./layouts/footer.scss";
html, body {
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}